Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, make-rst, copyright-headers

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: ./misc/hooks/clang-format-wrap
        language: system
        files: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java|glsl)$
        exclude: |
          (?x)^(
            tests/python_build.*|
            .*thirdparty.*|
            .*platform/android/java/lib/src/com.*|
            .*-so_wrap.*
          )

      - id: make-rst
        name: make-rst
        entry: python3 doc/tools/make_rst.py doc/classes modules platform --dry-run --color
        pass_filenames: false
        language: python
        files: ^(doc|modules|platform).*xml$

      - id: copyright-headers
        name: copyright-headers
        language: python
        files: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java)$
        entry: python3 misc/scripts/copyright_headers.py
        exclude: |
          (?x)^(
            tests/python_build.*|
            .*thirdparty.*|
            .*platform/android/java/lib/src/com.*|
            .*-so_wrap.*|
            platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView.*|
            platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper.*|
            platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix.*
          )

  - repo: https://github.com/psf/black-pre-commit-mirror  # mypyc-compiled black
    rev: 23.3.0
    hooks:
      - id: black
        exclude: .*thirdparty.*
        args:
          - --line-length=120

      - id: black
        files: SConstruct|SCsub
        args:
          - --line-length=120

Rework how script is edited when clicking icon
  editor/editor_node.cpp
  editor/editor_node.h
  editor/scene_tree_dock.cpp
Due: clang-format, copyright-headers

[macOS] Add support for native help menu search callbacks, integrate editor help.
  doc/classes/DisplayServer.xml
  editor/editor_help_search.cpp
  editor/editor_help_search.h
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/macos/godot_application_delegate.h
  platform/macos/godot_application_delegate.mm
  platform/macos/os_macos.mm
  servers/display_server.cpp
  servers/display_server.h
Due: clang-format, make-rst, copyright-headers

Allow to set custom feature tags for testing
  core/config/project_settings.cpp
  editor/editor_run.cpp
  editor/plugins/debugger_editor_plugin.cpp
  editor/run_instances_dialog.cpp
  editor/run_instances_dialog.h
Due: clang-format, copyright-headers

Add method to get "base" system UI color (macOS/Windows) and system theme change callback.
  doc/classes/DisplayServer.xml
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/org/godotengine/godot/GodotFragment.java
  platform/android/java/lib/src/org/godotengine/godot/GodotLib.java
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_lib_jni.h
  platform/ios/display_server_ios.h
  platform/ios/display_server_ios.mm
  platform/ios/godot_view.mm
  platform/linuxbsd/freedesktop_portal_desktop.cpp
  platform/linuxbsd/freedesktop_portal_desktop.h
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/macos/godot_application_delegate.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  servers/display_server.cpp
  servers/display_server.h
Due: clang-format, make-rst, copyright-headers

[Font] Allow overriding advances, offsets and kerning in the ImageFont import settings. Fix bitmap font kerning override.
  doc/classes/ResourceImporterImageFont.xml
  editor/import/resource_importer_imagefont.cpp
  editor/import/resource_importer_imagefont.h
Due: clang-format, make-rst, copyright-headers

Add rotary input support. Fix documentation
  doc/classes/InputEventMouseButton.xml
  doc/classes/ProjectSettings.xml
  main/main.cpp
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
Due: clang-format, make-rst, copyright-headers

Handle error when setting boot image if swap chain is not available. Skip resizing swap chain during screen creation as it's not necessary and can fail when it starts minimized.
  servers/rendering/renderer_rd/renderer_compositor_rd.cpp
  servers/rendering/rendering_device.cpp
Due: clang-format, copyright-headers

Tweak TileMap editor's missing source message to use "bottom panel" term
  editor/plugins/tiles/tile_map_layer_editor.cpp
Due: clang-format, copyright-headers

Fix position and basis of 3D Scenes instantiated via drag and drop
  editor/plugins/node_3d_editor_plugin.cpp
Due: clang-format, copyright-headers

Fix `TabBar` size when theme changes
  scene/gui/tab_bar.cpp
Due: clang-format, copyright-headers

Allow opening scenes with missing scene dependency
  doc/classes/MissingNode.xml
  scene/main/missing_node.cpp
  scene/main/missing_node.h
  scene/resources/packed_scene.cpp
  scene/resources/resource_format_text.cpp
Due: clang-format, make-rst, copyright-headers

Fix type-o in `OpenXRAPIExtension` docs for `is_environment_blend_mode_alpha_supported()`
  modules/openxr/doc_classes/OpenXRAPIExtension.xml
Due: make-rst

Fix virtual keyboard for decimal values on Android
  platform/android/java/lib/src/org/godotengine/godot/input/GodotEditText.java
Due: clang-format, copyright-headers

C#:Add Windows With Mono build in CI
  .github/workflows/windows_builds.yml
Due: none

C#: Let platforms signal if they support it or not
  modules/mono/config.py
  platform/android/detect.py
  platform/ios/detect.py
  platform/linuxbsd/detect.py
  platform/macos/detect.py
  platform/windows/detect.py
Due: none

remove unused signals in AnimationBezierTrackEdit
  editor/animation_bezier_editor.cpp
  editor/animation_track_editor.cpp
Due: clang-format, copyright-headers

FIXED: Trying to connect inexistent signal text_submitted.
  editor/editor_properties.cpp
Due: clang-format, copyright-headers

Fix gradle build errors when the build path contains non-ASCII characters
  platform/android/java/app/gradle.properties
  platform/android/java/gradle.properties
Due: none

Set `surface_override_material` to `RID()` when the `MeshInstance3D` is freed
  scene/3d/mesh_instance_3d.cpp
Due: clang-format, copyright-headers

enable getting suggested tracker names from OpenXR extensions
  modules/openxr/doc_classes/OpenXRExtensionWrapperExtension.xml
  modules/openxr/extensions/openxr_extension_wrapper.h
  modules/openxr/extensions/openxr_extension_wrapper_extension.cpp
  modules/openxr/extensions/openxr_extension_wrapper_extension.h
  modules/openxr/extensions/openxr_eye_gaze_interaction.cpp
  modules/openxr/extensions/openxr_eye_gaze_interaction.h
  modules/openxr/extensions/openxr_htc_vive_tracker_extension.cpp
  modules/openxr/extensions/openxr_htc_vive_tracker_extension.h
  modules/openxr/openxr_interface.cpp
Due: clang-format, make-rst, copyright-headers

Disable ReShade in the editor and project manager (if run via Vulkan)
  main/main.cpp
Due: clang-format, copyright-headers

Add option to silence some warnings in AnimationMixer caching
  core/config/project_settings.cpp
  doc/classes/ProjectSettings.xml
  editor/animation_track_editor.cpp
  scene/animation/animation_mixer.cpp
Due: clang-format, make-rst, copyright-headers

Add support for search shortcut to signal connection dialog
  editor/connections_dialog.cpp
  editor/connections_dialog.h
Due: clang-format, copyright-headers

Editor: Fix skipping normal category followed by custom one
  editor/editor_inspector.cpp
Due: clang-format, copyright-headers

Asset Library author link, description popup size and UX details
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.h
Due: clang-format, copyright-headers

Restored linear depth calculation Changed mode to push constant instead after feedback. Changed method of separate copy function to boolean flag instead after feedback.
  doc/classes/RenderingServer.xml
  doc/classes/Viewport.xml
  scene/main/viewport.cpp
  servers/rendering/renderer_rd/effects/copy_effects.cpp
  servers/rendering/renderer_rd/effects/copy_effects.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/shaders/effects/copy.glsl
Due: clang-format, make-rst, copyright-headers

Fixed bug with incorrect linear depth calculation. Added mode for reversing depth values.
  servers/rendering/renderer_rd/shaders/effects/copy.glsl
Due: clang-format

Implemented ability to display depth buffer in editor 3d preview.
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  scene/main/viewport.h
  servers/rendering/renderer_rd/effects/copy_effects.cpp
  servers/rendering/renderer_rd/effects/copy_effects.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/shaders/effects/copy.glsl
  servers/rendering_server.cpp
  servers/rendering_server.h
Due: clang-format, copyright-headers

fix texture atlas region size scale
  editor/import/resource_importer_texture_atlas.cpp
Due: clang-format, copyright-headers

Add ability to create linearly allocated uniform set pools, to be used when needed
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_driver.h
Due: clang-format, copyright-headers

Implement global variables
  core/config/project_settings.cpp
  core/config/project_settings.h
  core/object/script_language.h
  core/object/script_language_extension.cpp
  core/object/script_language_extension.h
  doc/classes/ScriptLanguageExtension.xml
  editor/editor_autoload_settings.cpp
  editor/editor_global_variables_settings.cpp
  editor/editor_global_variables_settings.h
  editor/project_settings_editor.cpp
  editor/project_settings_editor.h
  main/main.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_vm.cpp
Due: clang-format, make-rst, copyright-headers

Improve docs on how ParallaxLayer mirroring works.
  doc/classes/ParallaxLayer.xml
Due: make-rst

Disable signal callback generation in C#
  core/object/script_language.h
  core/object/script_language_extension.cpp
  core/object/script_language_extension.h
  doc/classes/ScriptLanguageExtension.xml
  editor/connections_dialog.cpp
  editor/connections_dialog.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
Due: clang-format, make-rst, copyright-headers

Add an option to center children around the new parent when reparenting
  doc/classes/EditorSettings.xml
  editor/editor_settings.cpp
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Due: clang-format, make-rst, copyright-headers

FileSystem dock: Fix open a terminal
  editor/filesystem_dock.cpp
Due: clang-format, copyright-headers

Fixed binary representation typo in comment
  modules/multiplayer/scene_multiplayer.h
Due: clang-format, copyright-headers

Revert "Fix selecting popup menu items on mouse release"
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
Due: clang-format, copyright-headers

Add option to enable alt+space menu
  core/config/project_settings.cpp
  doc/classes/ProjectSettings.xml
  platform/windows/display_server_windows.cpp
Due: clang-format, make-rst, copyright-headers
