Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, copyright-headers

make-rst:
  name: make-rst
  entry: python3 doc/tools/make_rst.py doc/classes modules platform --dry-run --color
  pass_filenames: false
  language: python

copyright-headers:
  name: copyright-headers
  language: python
  entry: python3 misc/scripts/copyright_headers.py

Make light type a necessary parameter
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
Due: copyright-headers

Add first interaction action to better inform newcomers
  .github/workflows/first_interaction.yml
Due: none

Add stale action to close issues/PRs that aren't relevant
  .github/workflows/stale.yml
Due: none

disable immutable samplers
  drivers/vulkan/rendering_device_driver_vulkan.h
Due: copyright-headers

Shorten the bug report template in order to maximize attention
  .github/ISSUE_TEMPLATE/bug_report.yml
  CONTRIBUTING.md
Due: none

Fix Android build
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  servers/rendering/rendering_device.cpp
Due: copyright-headers

Add toggles for DS batching & command pool reset
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_commons.h
Due: copyright-headers

Add output type to DAP `output` events
  editor/debugger/debug_adapter/debug_adapter_parser.cpp
  editor/debugger/debug_adapter/debug_adapter_parser.h
  editor/debugger/debug_adapter/debug_adapter_protocol.cpp
  editor/debugger/debug_adapter/debug_adapter_protocol.h
  editor/debugger/script_editor_debugger.cpp
Due: copyright-headers

SCU: disable verbose output
  scu_builders.py
Due: none

Add toggle for separate queue submissions
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
Due: copyright-headers

Update `@GDScript` documentation
  modules/gdscript/doc_classes/@GDScript.xml
Due: make-rst

Overhaul TextEdit selection. The caret is now a part of the selection.
  doc/classes/TextEdit.xml
  editor/code_editor.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/text_editor.cpp
  editor/plugins/text_shader_editor.cpp
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  scene/main/viewport.cpp
  scene/main/viewport.h
Due: make-rst, copyright-headers

Fix `compiledb` SCons tool availability
  SConstruct
Due: none

Fix bug related to multicursor and backspacing with brackets
  scene/gui/code_edit.cpp
Due: copyright-headers

Add toggle for render pass optimizations, fix bug when retrieving spec consts
  drivers/vulkan/rendering_context_driver_vulkan.cpp
  drivers/vulkan/rendering_context_driver_vulkan.h
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/rendering_device_commons.h
  servers/rendering/rendering_device_graph.cpp
Due: copyright-headers

234
  modules/game_help/logic/body_main.cpp
  modules/game_help/logic/body_main.h
Due: copyright-headers

CodeEditor: Make possible to select and copy error text
  editor/code_editor.cpp
  editor/code_editor.h
  editor/debugger/script_editor_debugger.cpp
  editor/debugger/script_editor_debugger.h
Due: copyright-headers

[Rendering] Add hints to some uniform `PropertyInfo`s
  servers/rendering/shader_language.cpp
Due: copyright-headers

Overhaul multiple caret editing in TextEdit. Use a multicaret edit to delay merging overlapping carets until the end.
  doc/classes/CodeEdit.xml
  doc/classes/TextEdit.xml
  editor/code_editor.cpp
  editor/code_editor.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/text_editor.cpp
  editor/plugins/text_shader_editor.cpp
  misc/extension_api_validation/4.2-stable.expected
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  scene/gui/text_edit.compat.inc
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  tests/display_server_mock.h
  tests/scene/test_code_edit.h
  tests/scene/test_text_edit.h
  tests/test_macros.h
Due: make-rst, copyright-headers

Optionally fixed bool arrays as well
  servers/rendering/shader_language.cpp
Due: copyright-headers

Fix some translations not properly falling back
  core/object/object.cpp
  scene/gui/dialogs.cpp
Due: copyright-headers

Expose bindings to compute dispatch indirect rendering device
  servers/rendering/rendering_device.cpp
Due: copyright-headers

Fix call queue problems when loading TileSet
  scene/resources/2d/tile_set.cpp
  scene/resources/2d/tile_set.h
Due: copyright-headers

[Core] Prevent further infinite recursion when printing errors
  core/object/message_queue.cpp
Due: copyright-headers

Add NavigationObstacle options to affect and carve navigation mesh
  doc/classes/NavigationMeshSourceGeometryData2D.xml
  doc/classes/NavigationMeshSourceGeometryData3D.xml
  doc/classes/NavigationObstacle2D.xml
  doc/classes/NavigationObstacle3D.xml
  modules/navigation/2d/nav_mesh_generator_2d.cpp
  modules/navigation/2d/nav_mesh_generator_2d.h
  modules/navigation/3d/nav_mesh_generator_3d.cpp
  modules/navigation/3d/nav_mesh_generator_3d.h
  scene/2d/navigation_obstacle_2d.cpp
  scene/2d/navigation_obstacle_2d.h
  scene/3d/navigation_obstacle_3d.cpp
  scene/3d/navigation_obstacle_3d.h
  scene/resources/navigation_mesh_source_geometry_data_2d.cpp
  scene/resources/navigation_mesh_source_geometry_data_2d.h
  scene/resources/navigation_mesh_source_geometry_data_3d.cpp
  scene/resources/navigation_mesh_source_geometry_data_3d.h
Due: make-rst, copyright-headers

Throw error when p_start_time is negative in start_playback_stream
  servers/audio_server.cpp
Due: copyright-headers

Add a sort method to Dictionary and HashMap
  core/templates/hash_map.cpp
  core/templates/hash_map.h
  core/variant/dictionary.cpp
  core/variant/variant_call.cpp
  doc/classes/Dictionary.xml
Due: make-rst, copyright-headers

Fix Control::set_global_position for rotated/scaled transforms
  scene/gui/control.cpp
Due: copyright-headers

Fix shader compilation error when enabling texture MSDF and UV1 Triplanar at the same time
  scene/resources/material.cpp
Due: copyright-headers

Improve PCK loading filename handling
  core/config/project_settings.cpp
  core/config/project_settings.h
Due: copyright-headers

Add a method to print the stack trace
  core/error/error_macros.cpp
  core/error/error_macros.h
Due: copyright-headers

Make the "Clear Output" shortcut not require panel focus
  editor/editor_log.cpp
Due: copyright-headers

Fix NativeMenu layout direction on macOS, add extra check for Windows menu.
  platform/macos/native_menu_macos.mm
  platform/windows/native_menu_windows.cpp
  scene/gui/popup_menu.cpp
Due: copyright-headers

[iOS] Disable PCRE2 JIT.
  platform/ios/detect.py
Due: none

pcre2: Remove unused sjlit files after last update
  modules/regex/SCsub
  thirdparty/README.md
  thirdparty/pcre2/patches/sljit-macos11-conditional.patch
  thirdparty/pcre2/src/sljit/sljitExecAllocator.c
  thirdparty/pcre2/src/sljit/sljitProtExecAllocator.c
  thirdparty/pcre2/src/sljit/sljitWXExecAllocator.c
Due: none

Fix description of touch input position
  doc/classes/InputEventScreenDrag.xml
  doc/classes/InputEventScreenTouch.xml
Due: make-rst

[Label] Move shadow drawing into a separate draw step.
  scene/gui/label.cpp
  scene/gui/label.h
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc|modules|platform).*xml$, but not: (?x)^(
  .*\.patch|  # Expected to contain trailing whitespace
  modules/gdscript/tests/scripts/.*|  # Expected to contain trailing whitespace
  .*\.pot|
  .*\.po|
  thirdparty/.*|  # Third-party files
  platform/android/java/lib/src/com/google.*|  # Third-party files
  .*-so_wrap\..*  # Generated code
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java)$ and not ((?x)^(
  tests/python_build.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper.*|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix.*
)
) and not ((?x)^(
  .*\.patch|  # Expected to contain trailing whitespace
  modules/gdscript/tests/scripts/.*|  # Expected to contain trailing whitespace
  .*\.pot|
  .*\.po|
  thirdparty/.*|  # Third-party files
  platform/android/java/lib/src/com/google.*|  # Third-party files
  .*-so_wrap\..*  # Generated code
)
)
