Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, make-rst, copyright-headers

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: ./misc/hooks/clang-format-wrap
        language: system
        files: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java|glsl)$
        exclude: |
          (?x)^(
            tests/python_build.*|
            .*thirdparty.*|
            .*platform/android/java/lib/src/com.*|
            .*-so_wrap.*
          )

      - id: make-rst
        name: make-rst
        entry: python3 doc/tools/make_rst.py doc/classes modules platform --dry-run --color
        pass_filenames: false
        language: python
        files: ^(doc|modules|platform).*xml$

      - id: copyright-headers
        name: copyright-headers
        language: python
        files: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java)$
        entry: python3 misc/scripts/copyright_headers.py
        exclude: |
          (?x)^(
            tests/python_build.*|
            .*thirdparty.*|
            .*platform/android/java/lib/src/com.*|
            .*-so_wrap.*|
            platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView.*|
            platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper.*|
            platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix.*
          )

  - repo: https://github.com/psf/black-pre-commit-mirror  # mypyc-compiled black
    rev: 23.3.0
    hooks:
      - id: black
        exclude: .*thirdparty.*
        args:
          - --line-length=120

      - id: black
        files: SConstruct|SCsub
        args:
          - --line-length=120

Partial revert of `core/version.h` changes in #88527
  core/version.h
Due: clang-format, copyright-headers

Add renaming of PDB files to avoid blocking them
  core/extension/gdextension.cpp
  core/extension/gdextension.h
  core/os/os.h
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  platform/android/os_android.cpp
  platform/android/os_android.h
  platform/ios/os_ios.h
  platform/ios/os_ios.mm
  platform/macos/os_macos.h
  platform/macos/os_macos.mm
  platform/web/os_web.cpp
  platform/web/os_web.h
  platform/windows/SCsub
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/windows/windows_utils.cpp
  platform/windows/windows_utils.h
Due: clang-format, copyright-headers

Add MIDI controller device index to InputEventMIDI.device property.
  core/os/midi_driver.cpp
  core/os/midi_driver.h
  drivers/alsamidi/midi_driver_alsamidi.cpp
  drivers/alsamidi/midi_driver_alsamidi.h
  drivers/coremidi/midi_driver_coremidi.cpp
  drivers/winmidi/midi_driver_winmidi.cpp
Due: clang-format, copyright-headers

Clean up and optimize BasisUniversal
  modules/basis_universal/image_compress_basisu.cpp
  modules/basis_universal/image_compress_basisu.h
Due: clang-format, copyright-headers

Fix crash on documentation generation on macOS.
  platform/android/export/export_plugin.cpp
  platform/ios/export/export_plugin.cpp
Due: clang-format, copyright-headers

[D3D12] Define GUIDs directly.
  drivers/d3d12/rendering_context_driver_d3d12.cpp
Due: clang-format, copyright-headers

use ED_IS_SHORTCUT macro instead of matches_event
  editor/animation_bezier_editor.cpp
  editor/animation_track_editor.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
Due: clang-format, copyright-headers

[Core] Upgrade some array helper classes to 64 bits
  core/templates/search_array.h
  core/templates/sort_array.h
Due: clang-format, copyright-headers

[Windows] Make D3D12 loading dynamic to support pre Windows 10 versions.
  drivers/d3d12/rendering_context_driver_d3d12.cpp
  drivers/d3d12/rendering_context_driver_d3d12.h
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  platform/windows/detect.py
  platform/windows/display_server_windows.h
  thirdparty/directx_headers/include/directx/d3dx12_root_signature.h
  thirdparty/directx_headers/patches/patch_d3d12_dynamic_load.diff
Due: clang-format, copyright-headers

Fix shader cache with transform feedback on some android devices
  drivers/gles3/shader_gles3.cpp
Due: clang-format, copyright-headers

Add missing barrier to SSIL and SSAO in Very Low quality. Fixes #88468.
  servers/rendering/renderer_rd/effects/ss_effects.cpp
Due: clang-format, copyright-headers

Fix: Headless Godot would buffer log messages forever.
  core/io/logger.cpp
  core/io/logger.h
  main/main.cpp
Due: clang-format, copyright-headers

Fix borderless window maximization
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Due: clang-format, copyright-headers

Disallow maximization if window is non resizable (borderless)
  platform/windows/display_server_windows.cpp
Due: clang-format, copyright-headers

Removed redundant check for animation mixer resolving tacks that was breaking animations
  scene/animation/animation_mixer.cpp
Due: clang-format, copyright-headers

Fix AnimationMixer breaking animations with redundant check
  scene/animation/animation_mixer.cpp
  scene/main/node.cpp
Due: clang-format, copyright-headers

Merge execute and present commands for RenderingDeviceDriver.
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/d3d12/rendering_device_driver_d3d12.h
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_driver.h
Due: clang-format, copyright-headers

Add ASTC support to BasisUniversal
  modules/basis_universal/image_compress_basisu.cpp
Due: clang-format, copyright-headers

Fix "dimensionnal" typo
  doc/classes/Texture3D.xml
Due: make-rst

Make RST docs consistent with Editor Help docs
  doc/tools/make_rst.py
Due: none

Added ImageTexture unit tests
  tests/scene/test_image_texture.h
  tests/test_main.cpp
Due: clang-format, copyright-headers

Bump Rider.PathLocator nuget version, which provides a fix for detecting Rider installations
  modules/mono/editor/GodotTools/GodotTools/GodotTools.csproj
Due: none

Editor Help: Improve appearance of script property setters/getters
  editor/editor_help.cpp
  editor/editor_help.h
Due: clang-format, copyright-headers

C#: Run source generators tests in CI
  .github/workflows/linux_builds.yml
Due: none

C#: Add analyzer release tracking
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/AnalyzerReleases.Shipped.md
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/AnalyzerReleases.Unshipped.md
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Godot.SourceGenerators.csproj
Due: none

Update Range.xml: fix incorrect default value for `step`
  scene/gui/range.cpp
Due: clang-format, copyright-headers

Fallback to CLOCK_MONOTONIC when CLOCK_MONOTONIC_RAW is not stable
  drivers/unix/os_unix.cpp
Due: clang-format, copyright-headers

Use check_changed_settings_in_group() everywhere
  editor/animation_bezier_editor.cpp
  editor/animation_track_editor.cpp
  editor/code_editor.cpp
  editor/connections_dialog.cpp
  editor/debugger/debug_adapter/debug_adapter_server.cpp
  editor/debugger/editor_debugger_node.cpp
  editor/editor_help.cpp
  editor/editor_help_search.cpp
  editor/editor_inspector.cpp
  editor/editor_node.cpp
  editor/editor_settings_dialog.cpp
  editor/filesystem_dock.cpp
  editor/gui/editor_file_dialog.cpp
  editor/gui/editor_scene_tabs.cpp
  editor/import_dock.cpp
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/collision_shape_2d_editor_plugin.cpp
  editor/plugins/curve_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/polygon_2d_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/text_shader_editor.cpp
  editor/plugins/texture_region_editor_plugin.cpp
  editor/plugins/tiles/tile_atlas_view.cpp
  editor/plugins/tiles/tile_map_layer_editor.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/scene_tree_dock.cpp
  editor/themes/editor_theme_manager.cpp
  editor/themes/editor_theme_manager.h
  modules/gdscript/language_server/gdscript_language_server.cpp
  modules/gridmap/editor/grid_map_editor_plugin.cpp
  modules/multiplayer/editor/replication_editor.cpp
  scene/gui/line_edit.cpp
Due: clang-format, copyright-headers

Add separate program case for Godot Resources
  editor/filesystem_dock.cpp
Due: clang-format, copyright-headers

Allow the `ui_menu` action to trigger context menus in Tree
  scene/gui/tree.cpp
  tests/scene/test_tree.h
  tests/test_main.cpp
Due: clang-format, copyright-headers

expose OpenXR hand tracker handles
  modules/openxr/doc_classes/OpenXRAPIExtension.xml
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
  modules/openxr/openxr_api_extension.cpp
  modules/openxr/openxr_api_extension.h
Due: clang-format, make-rst, copyright-headers

Convert variables to snake_case.
  core/io/logger.cpp
Due: clang-format, copyright-headers

nonthreadsafe -> non_thread_safe
  core/core_bind.cpp
  core/core_bind.h
  core/io/logger.cpp
  core/io/logger.h
  doc/classes/LogManager.xml
Due: clang-format, make-rst, copyright-headers

Convert loops to range loops.
  core/io/logger.cpp
Due: clang-format, copyright-headers

OpenXR: Update to version 1.0.34
  thirdparty/README.md
  thirdparty/openxr/include/openxr/openxr.h
  thirdparty/openxr/include/openxr/openxr_reflection.h
  thirdparty/openxr/include/openxr/openxr_reflection_structs.h
  thirdparty/openxr/src/common/platform_utils.hpp
  thirdparty/openxr/src/loader/api_layer_interface.cpp
  thirdparty/openxr/src/loader/loader_init_data.cpp
  thirdparty/openxr/src/loader/loader_init_data.hpp
  thirdparty/openxr/src/loader/manifest_file.cpp
  thirdparty/openxr/src/loader/manifest_file.hpp
  thirdparty/openxr/src/loader/runtime_interface.cpp
Due: none

Fix whitespace mistake.
  core/io/logger.cpp
Due: clang-format, copyright-headers

Hide separators in ItemList in editor theme
  editor/themes/editor_theme_manager.cpp
Due: clang-format, copyright-headers

Fix incorrect results in the class completion of script editor
  modules/gdscript/gdscript_editor.cpp
Due: clang-format, copyright-headers

Revert "Fix selecting popup menu items on mouse release"
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
Due: clang-format, copyright-headers

Add tests and fix exports diagnostics
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/ExportDiagnosticsTests.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ExportDiagnostics_GD0101_ScriptPropertyDefVal.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ExportDiagnostics_GD0102_ScriptPropertyDefVal.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ExportDiagnostics_GD0103_ScriptPropertyDefVal.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ExportDiagnostics_GD0104_ScriptPropertyDefVal.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ExportDiagnostics_GD0105_ScriptPropertyDefVal.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ExportDiagnostics_GD0106_KO_ScriptPropertyDefVal.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ExportDiagnostics_GD0106_OK_ScriptPropertyDefVal.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ExportDiagnostics_GD0107_KO_ScriptPropertyDefVal.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ExportDiagnostics_GD0107_OK_ScriptPropertyDefVal.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/ExportDiagnostics_GD0101.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/ExportDiagnostics_GD0102.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/ExportDiagnostics_GD0103.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/ExportDiagnostics_GD0104.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/ExportDiagnostics_GD0105.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/ExportDiagnostics_GD0106.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/ExportDiagnostics_GD0107.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/GodotClasses.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertyDefValGenerator.cs
Due: none
